body{
    margin: 0;
}
bk-wc-ui-tree{
    display: inline-block;
    width: 25vw;
    height: 25vh;
    border: 1px solid #dbdbdb;
    background-color: white;
    border-radius: 3px;
    font-size: 0.8em;
}
bk-wc-ui-bean-centros{
    vertical-align: top;
    background-color: #f0f0f0;
    border-radius: 3px;
    font-size: 0.9em;
}